KERNEL=="tpacpi::thinklight", RUN+="/bin/chmod 0666 /sys/devices/platform/thinkpad_acpi/leds/tpacpi::thinklight/brightness"

# original rule
# SUBSYSTEM=="leds", RUN+="/bin/sh /sbin/thinklight-setup"
