//polkit.addRule(function(action, subject) {
//    if (action.id == "org.freedesktop.login1.suspend" ||
//        action.id == "org.freedesktop.login1.suspend-multiple-sessions" ||
//        action.id == "org.freedesktop.login1.hibernate" ||
//        action.id == "org.freedesktop.login1.hibernate-multiple-sessions" ||
//        action.id == "org.freedesktop.login1.power-off" ||
//        action.id == "org.freedesktop.login1.power-off-multiple-sessions" ||
//        action.id == "org.freedesktop.login1.reboot" ||
//        action.id == "org.freedesktop.login1.reboot-multiple-sessions" ||
//        ) {
//        return polkit.Result.YES;
//    }
//});

polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.login1") == 0) {
        return polkit.Result.YES;
    }
});

polkit.addRule(function(action, subject) {
    if (action.id.match("org.freedesktop.upower.") && subject.isInGroup("users")) {
        return polkit.Result.YES;
    }
});

polkit.addRule(function(action, subject) {
    if (action.id.match("org.freedesktop.ConsoleKit.Manager.") && subject.isInGroup("users")) {
        return polkit.Result.YES;
    }
});
